* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  /* variables */
  :root {
    --bg-color: #fafafb;
    --primary-color: #342d3e;
    --secondary-color: #708498;
    --text-color: #342d3e;
    --navbar-text-color: #fafafb;
    --accent-color: #4bbb8a;
    --bg-secondary: #677776;
    --bg-black: #201c1c;
    /** revision */
    --color-violet:#342F40;
    --color-green:#0D7C5F;
    --color-white: #FFFFFF;
    --color-gray: #F5F5F6;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
  }
  
  /* Navbar */
  .navbar {
    background-color: #003559;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    padding: 10px 50px;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding-bottom: 10px;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.3s;
    position: relative;
  }
  
  .navbar ul li a:hover,
  .navbar ul li a.active {
    color: #2693BE;
  }
  
  .nav-pills .nav-link.active {
    background-color: transparent; /* Change to your preferred color */
    color: #2693BE !important;
  }
  .navbar img {
    width: 166px;
    height: 29px;
  }
  
  .navbar ul li a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2693BE;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: #2693BE;
  }
  .navbar-toggler{
      color: transparent;
      background-color: var(--color-white);
  }

  /**when click the navbar-toggler button  show clickables */
  .navbar-toggler:focus{
    color: var(--color-white);
  }
  /* Section Styles */
  
  .btnContact {
    padding: 10px 10px;
    width: 180px;
    border-radius: 10px;
    background: rgb(38,147,190);
    background: linear-gradient(90deg, rgba(38,147,190,1) 0%, rgba(18,68,88,1) 100%);
    color: var(--color-white);
    border: none;
  }
  
  .btnContact:hover {
    
    transform: scale(1.05);
    transition: 0.5s;
  }

  
  @media screen and (max-width: 992px) {
    .btnContact {
      display: none;
    }
  }

/**Main Container */
.container-fluid{
    padding: 0;
    margin: 0;
}

#containerBack{
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns items vertically */
  gap: 10px; /* Adds spacing between image and text */
}
#img1{
  height: 36px; /* Same height as h1 text */
  width: auto; /* Maintain aspect ratio */
  padding-right: 10px;
}
#img1:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}



#container1{
    
    width: 100%;
    margin-top: 120px;
    height: auto;
}
#main1{
    
    width: 100%;
    height:400px ;
}
#main1 h1{
  
  color: #003559;
  font-weight: bold;
}

#divWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
   
}



.card-title{
    color: var(--color--white);
    font-weight: bold;
}

#divWrapper .card{
    height: auto;
    width: 360px;
    background-color: var(--color-white);
    color: var(--color-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;

}

#divWrapper .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: rgb(0,53,89);
    background: linear-gradient(90deg, rgba(0,53,89,1) 25%, rgba(0,114,191,1) 100%);
    border-radius: 15px 15px 0 0;
    padding: 15px;
}

#divbutton{
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color:var(--color-white);
  justify-content: end;
  border-radius: 0 0 15px 15px;
}

#divWrapper .card .btnView{
    border: none;
    background-color: #2693BE;
    color: var(--color-white);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#divWrapper .card .btnView:hover{
    background-color: #003559;
    color: var(--color-white);
    transition: 0.5s;
}



#linkButton{
    border: none;
    background-color: #2693BE;
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 10px;
    width: 120px;
    margin-right: 25px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

#linkButton:hover{
  background-color: #003559;
  color: var(--color-white);
  transition: 0.5s;
}




